/* Universal Styles */

body {
  background-color: black;
  color: white;
  display: block;
  margin: 8px;
  text-align: center;
  font-family: Verdana, sans-serif;
}

a {
  color: aquamarine;
}

/* Header */
h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

/* Main */

/* Footer */
.footer {
  text-align: right;
}